:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

a {
  color: hsl(0, 0%, 125.2941176471%);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1rem;
}
a:hover, a:focus-within, a:active {
  color: rgb(166.5, 166.5, 166.5);
}
a:target {
  display: block;
  position: relative;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: last baseline;
  z-index: 1;
  background-image: radial-gradient(farthest-corner at 50% 100%, rgba(255, 255, 255, 0.15), transparent);
  backdrop-filter: blur(2rem);
  border: white 2px solid;
  border-radius: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  transition: opacity 0.5s ease-in-out;
}
#navbar[open] {
  opacity: 1;
}
#navbar:not([open]) {
  opacity: 0.7;
}
#navbar .name {
  text-align: center;
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  list-style: none;
}
#navbar .name:hover, #navbar .name:active, #navbar .name:focus-within {
  text-decoration: underline;
  cursor: pointer;
}
#navbar .links {
  align-items: inherit;
  display: inline-flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20rem 10rem;
}
main .box {
  margin: 5rem 0;
  scroll-margin-top: 10rem;
  background-image: radial-gradient(farthest-corner at 50% 100%, rgba(255, 255, 255, 0.15), transparent);
  backdrop-filter: blur(2rem);
  border: white 2px solid;
  border-radius: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  padding: 0.7rem 2rem;
}
main .box .title {
  text-transform: lowercase;
  text-decoration: underline;
}
main .box .title::first-letter {
  text-transform: uppercase;
}
main .box hr {
  color: hsl(0, 0%, 125.2941176471%);
}
main .box .sub-title .info {
  font-size: large;
  text-transform: capitalize;
}
main .box .sub-title .info + .info::before {
  content: "| ";
  margin: 0.5rem;
}
main .box .sub-text p {
  text-transform: lowercase;
}
main .box .sub-text p::first-letter {
  text-transform: uppercase;
}
main .box .project .info {
  text-transform: lowercase;
}
main .box .project .info::first-letter {
  text-transform: uppercase;
}
main .box#contact .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}
main .box#contact .contact * {
  display: inline;
}
main .box#contact .contact img {
  aspect-ratio: 1;
  width: 3rem;
}
main .box#languages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.6rem;
}
main .box#languages .language {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
}
main .box#languages #python {
  background-image: radial-gradient(farthest-corner at 50% 100%, rgba(255, 210, 63, 0.15), rgba(52, 111, 160, 0.16));
  backdrop-filter: blur(2rem);
  border: #ffd23f 2px solid;
  border-radius: 2rem;
}
main .box#languages #assembly {
  background-image: radial-gradient(farthest-corner at 50% 100%, rgba(110, 76, 19, 0.15), transparent);
  backdrop-filter: blur(2rem);
  border: #6e4c13 2px solid;
  border-radius: 2rem;
}
main .box#languages #dart {
  background-image: radial-gradient(farthest-corner at 50% 100%, rgba(0, 180, 171, 0.15), transparent);
  backdrop-filter: blur(2rem);
  border: #00b4ab 2px solid;
  border-radius: 2rem;
}
main .box#languages #ruby {
  background-image: radial-gradient(farthest-corner at 50% 100%, rgba(204, 52, 45, 0.15), transparent);
  backdrop-filter: blur(2rem);
  border: #cc342d 2px solid;
  border-radius: 2rem;
}
main .box#languages #cobol {
  background-image: radial-gradient(farthest-corner at 50% 100%, rgba(240, 200, 8, 0.15), transparent);
  backdrop-filter: blur(2rem);
  border: #f0c808 2px solid;
  border-radius: 2rem;
}
main .box#languages #cpp {
  background-image: radial-gradient(farthest-corner at 50% 100%, rgba(0, 66, 126, 0.15), transparent);
  backdrop-filter: blur(2rem);
  border: #00427e 2px solid;
  border-radius: 2rem;
}

@media (max-width: 650px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #navbar .links {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
