:root {
	color-scheme: light dark;
}

body {
	background-color: light-dark(white, lighten(black, 7%));

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	max-height: 100%;
	max-width: 100%;

	padding: 0;
	margin: 0;

	overflow: hidden;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	position: sticky;

	margin: 0;

	padding: 1rem;

	width: 100%;

	backdrop-filter: blur(10px);

	background-color: rgba($color: darkslategrey, $alpha: 0.6);

	a {
		color: light-dark(black, white);

		text-transform: uppercase;

		text-decoration: none;

		&:active,
		&:hover {
			cursor: pointer;

			text-decoration: underline;

			font-weight: bold;
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1rem;

	$border-radius: 4rem;

	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

.secotion {
	& {
		columns: auto 40rem;
	}

	h1 {
		text-align: center;
		text-decoration: underline;

		color: light-dark(black, white);
	}

	.experience {
		& {
			$border-radius: 3rem;

			border-radius: $border-radius;
			border: .4rem solid light-dark(black, white);
	
			margin: calc($border-radius / 2);
			
			padding: calc(2rem / 2);

			display: flex;
			flex-direction: column;
		}

		.title {
			text-align: center;
			text-decoration: underline;
		}

		.details {
			display: inline-flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			* {
				margin: 0.5rem;
				text-transform: capitalize;
			}
		}

		.description {
			text-align: center;
		}
	}
}